<div id="ocultar">
    <style>
        #ocultar {
            background: rgba(255, 255, 255, 0.9);
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 999;
        }

        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
        }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid gray;
            border-color: gray transparent gray transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div style="transform: scale(1.5);">
        Cargando
        <br>
        <div class="lds-dual-ring"></div>
    </div>
</div>