<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Inicio</title>
</head>

<body>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            width: 200px;
            margin: 5px;
        }
    </style>

    <div class="jumbotron">

        <h1>
            Problema de votaciones
        </h1>
        <p class="lead">Servidor en Python y base de datos en MySQL.</p>
        <a href="/datos-prueba" class="btn btn-secondary">
            Ingresar datos de prueba
        </a>
        <a href="/borrar-tablas" class="btn btn-secondary">
            Borrar tablas
        </a>
        <hr class="my-4">
        <a href="/votante" class="btn btn-dark">
            Votantes
        </a>
        <a href="/candidato" class="btn btn-dark">
            Candidatos
        </a>
        <a href="/resumen-votacion" class="btn btn-dark">
            Resumen
        </a>
        
    </div>

</body>

</html>